In [1]:
import pandas as pd
import numpy as np
import os
import env

import reg_wrangle as rw


from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = rw.wrangle_zillow()

In [3]:
train, validate, test, train_scaled, validate_scaled, test_scaled = rw.wrangle_zillow()

In [4]:
df

(         bed_rooms  bath_rooms  finished_sqft  tax_val_dollar_count  \
 1567873          3         1.0           1248                191578
 1218138          2         2.0           1326               1345206
 339661           2         1.0           1053                356648
 1017133          3         2.0           1256                175069
 40250            3         2.0           1640                543000
 ...            ...         ...            ...                   ...
 941799           2         1.0            696                 27699
 631585           3         3.0           2081                619590
 883917           3         2.0           1742                196237
 1253096          4         3.0           2066                617344
 372341           3         2.0           1260                351730

          year_built   tax_amt  fips
 1567873        1950   2712.21  6037
 1218138        1950  16539.04  6037
 339661         1953   4575.16  6037
 1017133        1946   2635.51  6037
 40250          1957   6344.96  6059
 ...             ...       ...   ...
 941799         1954    918.71  6037
 631585         1987   7319.49  6037
 883917         1957   2512.91  6037
 1253096        1924   7650.55  6037
 372341         1961   4093.40  6037

 [1198531 rows x 7 columns],
          bed_rooms  bath_rooms  finished_sqft  tax_val_dollar_count  \
 539361           3         2.0           1383                 71604
 126612           2         1.0           1572                 48719
 1590950          4         3.0           1926                438963
 1282025          4         2.5           1998                397233
 1420451          5         4.0           6844               2557712
 ...            ...         ...            ...                   ...
 988389           3         2.0           1111                441000
 468006           2         2.0            900                193642
 1026141          3         3.0           2855                325480
 1644940          3         2.0           1379                561558
 1683255          3         1.0           1052                259956

          year_built   tax_amt  fips
 539361         1957    992.07  6037
 126612         1930    529.16  6059
 1590950        1969   5097.76  6059
 1282025        1979   4705.06  6111
 1420451        1979  26119.96  6059
 ...             ...       ...   ...
 988389         1958   5268.24  6059
 468006         1989   2821.13  6037
 1026141        1978   4074.90  6037
 1644940        1957   6546.16  6059
 1683255        1923   3302.64  6037

 [513657 rows x 7 columns],
          bed_rooms  bath_rooms  finished_sqft  tax_val_dollar_count  \
 413974           3         2.0           1410                186697
 41333            2         2.5           1927                587421
 1796752          4         3.5           3293                796473
 1811458          3         2.0           1568                848481
 782643           4         2.0           1255                251385
 ...            ...         ...            ...                   ...
 1320329          3         2.0           1144                432367
 1139341          4         3.0           1977                714000
 2062047          4         2.0           1693                174278
 1988667          4         2.0           1646                208583
 1496444          3         2.5           2656                503220

          year_built   tax_amt  fips
 413974         1963   2762.63  6037
 41333          1998   7195.94  6059
 1796752        1992   9392.58  6059
 1811458        1950  10316.55  6037
 782643         1958   3129.82  6037
 ...             ...       ...   ...
 1320329        1952   5266.90  6037
 1139341        1999   8096.12  6059
 2062047        1978   2676.39  6037
 1988667        1957   2705.42  6059
 1496444        2003   5464.02  6059

 [428047 rows x 7 columns],
          bed_rooms  bath_rooms  finished_sqft  tax_val_dollar_count  \
 1567873   0.200000     0.03125       0.001309                191578
 1218138   0.133333     0.06250       0.001391               1345206
 339661    0.133333     0.03125       0.001104                356648
 1017133   0.200000     0.06250       0.001317                175069
 40250     0.200000     0.06250       0.001721                543000
 ...            ...         ...            ...                   ...
 941799    0.133333     0.03125       0.000730                 27699
 631585    0.200000     0.09375       0.002184                619590
 883917    0.200000     0.06250       0.001828                196237
 1253096   0.266667     0.09375       0.002168                617344
 372341    0.200000     0.06250       0.001322                351730

          year_built   tax_amt  fips
 1567873        1950  0.002510  6037
 1218138        1950  0.015335  6037
 339661         1953  0.004238  6037
 1017133        1946  0.002439  6037
 40250          1957  0.005879  6059
 ...             ...       ...   ...
 941799         1954  0.000846  6037
 631585         1987  0.006783  6037
 883917         1957  0.002325  6037
 1253096        1924  0.007090  6037
 372341         1961  0.003791  6037

 [1198531 rows x 7 columns],
          bed_rooms  bath_rooms  finished_sqft  tax_val_dollar_count  \
 539361    0.200000    0.062500       0.001451                 71604
 126612    0.133333    0.031250       0.001649                 48719
 1590950   0.266667    0.093750       0.002021                438963
 1282025   0.266667    0.078125       0.002096                397233
 1420451   0.333333    0.125000       0.007184               2557712
 ...            ...         ...            ...                   ...
 988389    0.200000    0.062500       0.001165                441000
 468006    0.133333    0.062500       0.000944                193642
 1026141   0.200000    0.093750       0.002996                325480
 1644940   0.200000    0.062500       0.001447                561558
 1683255   0.200000    0.031250       0.001103                259956

          year_built   tax_amt  fips
 539361         1957  0.000914  6037
 126612         1930  0.000485  6059
 1590950        1969  0.004723  6059
 1282025        1979  0.004358  6111
 1420451        1979  0.024222  6059
 ...             ...       ...   ...
 988389         1958  0.004881  6059
 468006         1989  0.002611  6037
 1026141        1978  0.003774  6037
 1644940        1957  0.006066  6059
 1683255        1923  0.003058  6037

 [513657 rows x 7 columns],
          bed_rooms  bath_rooms  finished_sqft  tax_val_dollar_count  \
 413974    0.200000    0.062500       0.001479                186697
 41333     0.133333    0.078125       0.002022                587421
 1796752   0.266667    0.109375       0.003456                796473
 1811458   0.200000    0.062500       0.001645                848481
 782643    0.266667    0.062500       0.001316                251385
 ...            ...         ...            ...                   ...
 1320329   0.200000    0.062500       0.001200                432367
 1139341   0.266667    0.093750       0.002074                714000
 2062047   0.266667    0.062500       0.001776                174278
 1988667   0.266667    0.062500       0.001727                208583
 1496444   0.200000    0.078125       0.002787                503220

          year_built   tax_amt  fips
 413974         1963  0.002557  6037
 41333          1998  0.006669  6059
 1796752        1992  0.008706  6059
 1811458        1950  0.009563  6037
 782643         1958  0.002897  6037
 ...             ...       ...   ...
 1320329        1952  0.004879  6037
 1139341        1999  0.007504  6059
 2062047        1978  0.002477  6037
 1988667        1957  0.002504  6059
 1496444        2003  0.005062  6059

 [428047 rows x 7 columns])

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1198531 entries, 1567873 to 372341
Data columns (total 7 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   bed_rooms             1198531 non-null  int64
 1   bath_rooms            1198531 non-null  float64
 2   finished_sqft         1198531 non-null  int64
 3   tax_val_dollar_count  1198531 non-null  int64
 4   year_built            1198531 non-null  int64
 5   tax_amt               1198531 non-null  float64
 6   fips                  1198531 non-null  int64
dtypes: float64(2), int64(5)
memory usage: 73.2 MB

In [6]:
train.shape

(1198531, 7)